---
title: Documentation
---

:ruby

  def dummy_text paragraphs = 2, sentences = 3
    text = ''

    rand(1..paragraphs).times do
      text += lorem.sentences(rand(1..sentences)) + '.'
    end

    text
  end


-# FIXME! This is a temporary section to provide links to ported docs
.row

  %section.col-md-12
    %h2 FIXME: Ported from CloudForms

    %ul
      - ["control", "insight", "lifecycle", "methods", "settings"].each do |item|
        %li= link_to item.titlecase, item


.row

  %section.col-md-12
    %h2 Using ManageIQ

    .row

      .col-md-6
        %h3 First use walkthrough
        %ol
          - 5.times do
            %li= link_to lorem.sentence

        %h3 Dashboard customization
        %ol
          - 5.times do
            %li= link_to lorem.sentence

      .col-md-6
        %h3 Quick cloud tips
        %ol
          - 10.times do
            %li= link_to lorem.sentence


  %section.col-md-12
    %h2 About ManageIQ

    .row
      .col-md-6
        %h3 ManageIQ's audience
        = dummy_text

      .col-md-6
        %h3 A perfect fit
        ManageIQ solves common problems by...
        = dummy_text

      .col-md-6
        %h3 Markitechture
        = dummy_text

  %section.col-md-12
    %h2 Frequently Asked Questions

    - 5.times do

      %h3= lorem.sentence + "?"
      - rand(1..3).times do
        %p= dummy_text 2,3
