---
title: Download and install
page_classes: header-page
---
-# To add additional deployment types, please edit data/deploy_types.yml

%section.page-header
  .row
    %section.col-md-12

      %h2{class: (defined? deploy_type) ? "with-type" : "without-type"}
        Download and install ManageIQ
        - if defined? deploy_type
          for
          %span.product-name
            = deploy_name

      :markdown
        Getting started with ManageIQ is as simple as following three
        steps. You'll be up and running in under 30 minutes.


- if defined? deploy_type
  %section.page-tip
    .row
      %section.col-md-12

        %strong= "You're currently viewing instructions for #{deploy_name}."
        If this isn't what you want, please select another deploy target:

        .row
          - data.deploy_types.reject {|d| d == deploy_type}.each do |dlabel, dname|
            - dtext = "<i class='download-arrow'></i>#{dname}"
            .col-sm-5= link_to dtext, "/download/#{dlabel}/", {class: "alert-link"}


%section.installation-steps
  .row
    %section.col-md-12

      - unless defined? deploy_type

        :markdown
          Please select the option that most closely matches your
          infrastructure to see instructions for your optimal
          installation.

        .row
          - data.deploy_types.each do |dlabel, dname|
            - dtext = "<i class='download-arrow'></i>#{dname}"
            .col-md-4.col-sm-6
              %h5= link_to dtext, "/download/#{dlabel}/"


      - if defined? deploy_type
        :markdown
          ### Step 1: **Download & deploy your appliance**

        - case deploy_type

          - when 'ovirt'
            :markdown
              [<i class="download-icon"></i>Download ManageIQ for oVirt](http://manageiq.org/downloads/ManageIQ-stable-ovirt.ova) to
              your local computer.

              When the file has finished downloading, upload it to
              an export domain on your oVirt instance by running the
              following command locally:

              <pre>
              engine-image-uploader -e $YOUR_EXPORT_DOMAIN --engine=$YOUR_ENGINE_HOST upload ManageIQ-stable-ovirt.ova
              </pre>
              Navigate to the "Template Import" tab of your export
              domain in your oVirt admin console, and import the
              ManageIQ image template you uploaded.


          - when 'rhev'
            :markdown
              [<i class="download-icon"></i>Download ManageIQ for Red Hat Enterprise Virtualization](http://manageiq.org/downloads/ManageIQ-stable-ovirt.ova)
              to your local computer.

              When the file has finished downloading, upload it to
              an export domain on your RHEV instance by running the
              following command locally:

              <pre>
              rhevm-image-uploader -e $YOUR_EXPORT_DOMAIN --engine=$YOUR_RHEVM_HOST upload ManageIQ-stable-ovirt.ova
              </pre>


          - when 'openstack'
            :markdown
              Download ManageIQ directly to OpenStack by running
              this command:

              <pre>
              curl -O http://manageiq.org/downloads/ManageIQ-stable-openstack.qc2 && \
              glance image-create --name "ManageIQ-stable" \
              --is-public True --disk-format qcow2 \
              --container-format=bare --file ManageIQ-stable-openstack.qc2
              </pre>

          - when 'vmware'
            :markdown
              [<i class="download-icon"></i>Download ManageIQ for VMware vSphere](http://manageiq.org/downloads/ManageIQ-stable-vsphere.ova) to
              your local computer.

              In the vSphere Client, select File -> Deploy OVF Template.
              The Deploy OVF Template wizard appear, follow the
              instructions to upload the template.


        :markdown
          ### Step 2: **First connection and configuration**

          * Create a new virtual machine from the ManageIQ template. ManageIQ
            needs a minimum of 6GB RAM and 45GB persistent disk.

          * Log into the ManageIQ dashboard by connecting to the new running VM
            with a web browser, or access the console of your virtual machine.
            The initial username and password is `admin`/`smartvm`.
          
          * There are a number of basic settings, located under 
            "Configure -> Configuration" in the web interface, or under
            "Advanced setting" in the VM console, that you may wish to change 
            when starting ManageIQ for the first time.
            Among the most common are:
              * Time and date settings
              * DHCP configuration
              * Hostname
              * Admin password

          

          
          ### Step 3: **Add an infrastructure or cloud provider**

          Now that you are up and running, you can connect your first
          infrastructure or cloud provider and start gathering data
          about what is running there.

          To add a new infrastructure provider (Microsoft SCVMM, RHEV,
          oVirt or vSphere), navigate to Infrastructure -> Providers.
          To add a new cloud provider (OpenStack, Amazon EC2), navigate
          to Clouds -> Providers.
          
          Next, click the configuration icon (TODO: include icon here),
          and "+" to add a new provider.           

          * Select your provider type from the drop-down.
          * If you have multiple zones, select the appropriate one in 
            the drop-down.
          * Type in the username and password of a user with administrative
            privileges over the provider, click "Validate," and then click 
            "Add" to add the provider. 

          You can also auto-discover providers available on your local network
          by clicking on the "radar" symbol (TODO: Include logo here). Check
          the provider type, provide a subnet range of IP addresses to search,
          and ManageIQ will prompt you to add new providers automatically.
          
          Repeat the process above for the additional Cloud or Infrastructure 
          providers you wish to manage.
          
          Consult the [quickstart guide](/documentation/quickstart) for more 
          detailed information on configuring providers,and on provisioning 
          virtual machines and cloud instances. 


          ## What's next?

          **FIXME: This is all very rough. Please overhaul the concepts and content.**

          ### Get integrated

          * [enforcing security policies](#FIXME-link)
          * [managing and empowering users](#FIXME-link)
          * [effectively use events and alerts](#FIXME-link)


          ### Automate some common tasks

          [Some text here about automating common tasks]

          ### Extend your cloud platform

          [Browse the extensions in the market]

          [Highlight a few important / commonly used extensions?]


          ### Join the community
          Talk with the developers or others in the community:

          * [get involved](/community)
          * [@manageiq](http://twitter.com/manageiq) on Twitter
          * [User forum](http://talk.manageiq.org)
          * [Join us on IRC](http://www.ircbeginner.com/) (#manageiq on irc.Freenode.net)


          ### Get support

          All the code produced in the ManageIQ project gets funneled into
          [Red Hat® CloudForms](https://redhat.com/products/cloud-computing/cloudforms/).
          If you're looking for a supported ManageIQ-based product, be sure to check it out.



- if defined? deploy_type
  %section#export.export-notice
    .row
      %section.col-md-12

        :markdown
          ## Export notice

          By downloading ManageIQ software, you acknowledge that you
          understand all of the following: ManageIQ software and
          technical information may be subject to the U.S. Export
          Administration Regulations (the “EAR”) and other U.S. and
          foreign laws and may not be exported, re-exported or
          transferred (a) to any country listed in Country Group E:1 in
          Supplement No. 1 to part 740 of the EAR (currently, Cuba,
          Iran, North Korea, Sudan &amp; Syria); (b) to any prohibited
          destination or to any end user who has been prohibited from
          participating in U.S. export transactions by any federal
          agency of the U.S. government; or (c) for use in connection
          with the design, development or production of nuclear,
          chemical or biological weapons, or rocket systems, space
          launch vehicles, or sounding rockets, or unmanned air vehicle
          systems. You may not download ManageIQ software or technical
          information if you are located in one of these countries or
          otherwise subject to these restrictions. You may not provide
          ManageIQ software or technical information to individuals or
          entities located in one of these countries or otherwise
          subject to these restrictions. You are also responsible for
          compliance with foreign law requirements applicable to the
          import, export and use of ManageIQ software and technical
          information.
