---
page_classes: "depot depot-index"
---

.intro
  :markdown

    ## Extension Depot

    #{lorem.sentences 4}.


- ######################################################################

:ruby
  require "#{root}/source/depot/extensions-info.rb"

  all_tags = extensions_info.dup.map {|n, e| e['tags']}.flatten.sort.uniq

  def color_from_string str
    str_seed = Digest::MD5.hexdigest(str).to_i(16)
    ColorGenerator.new(saturation: 0.95, lightness: 0.85, seed: str_seed).create_hex
  end


.tags-filter
  Type:
  = tags_list ["all"] + all_tags, "all"

#extension-list.extensions
  - extensions_info.each do |name, extension|

    .extension(style="border-color:#{extension['color']}")

      .row
        .title.col-sm-6
          -#%h2= link_to extension['name'].titlecase, "extension/#{name}/"
          .title
            %h2
              = link_to extension['name'].titlecase, "extension/#{name}/"

            - if extension['version']
              %span.hidden Version:
              %span.version= extension['version']


        .tags.col-sm-6
          = tags_list extension['tags']

      .row
        .col-sm-12
          .author= "by #{([extension['author']] + extension['collaborator']).to_sentence}"
          .description= markdown_to_html extension['description']


- content_for :tail do
  :coffee
    $extensions = $('#extension-list .extension')


    highlightActiveTag = (tag = "all")->
      $('.tags-filter a').each (i,e)->
        $(e).toggleClass('active', $(e).text().trim() == tag)


    showTag = ->
      tag = window.location.hash.split('/')[1]

      highlightActiveTag(tag)

      if tag == 'all' or tag == undefined
        $extensions.show()
      else
        # Show or hide, depending on if a tag matches
        for extension in $extensions
          matches = $('.tags a', extension).filter((i,t)-> $(t).text().trim() == tag).length > 0

          $(extension).toggle(matches)


    $ ->

      $(window).on 'hashchange', showTag

      do showTag

