.meet-the-team.row

  .col-md-12
    :markdown

      ## Meet the team

      ManageIQ is developed by a team of dedicated and experienced developers.
      As a transparent, openly developed, meritocracy, any member of the
      community can contribute to its development, but as with all projects,
      ManageIQ has a number of maintainers who set the direction and help
      prioritize features.


    .team-list
      - data.team.each do |person, val|
        - unless val.nil?
          %section.person
            %h3.name= person
            %p.bio= val.bio
            %ul
              - {GitHub: 'github', Freenode: 'freenode', Twitter: 'twitter'}.each do |name, key|
                - if val.has_key? key
                  %li(class=key)
                    = "#{name}:"
                    = val[key]
