---
# Title is left intentionally blank for the front page
title: ""
pageable: false
page_classes: front-page header-page
per_page: 1
blog_summary_length: 700
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")

%section.page-header
  .row
    %section.col-md-12

      %h2 Your gateway to the open cloud
      %h3 automate, optimize, and control your cloud services

%section.overview
  .row

    %section.features.col-md-9

      .feature-item.col-lg-6.col-sm-6
        %i.icon.open-source
        :markdown

          ## Open Source
          ManageIQ is the open source project that powers
          [Red Hat® CloudForms](https://redhat.com/products/cloud-computing/cloudforms/).

      .feature-item.col-lg-6.col-sm-6
        %i.icon.hybrid-infra
        :markdown

          ## Hybrid infrastructure
          Transition workloads across major cloud platforms
          based on price, performance, platform, and scaling.

      .feature-item.col-lg-6.col-sm-6
        %i.icon.virtual-lab
        :markdown

          ## Virtual Lab Automation
          Shift control of development, QA, and testing environments back
          to their respective teams.

          *[QA]: "Quality Assurance" (software testing)

      .feature-item.col-lg-6.col-sm-6
        %i.icon.private-cloud
        :markdown

          ## Enhance your private cloud

          Add chargeback, service orchestration, lifecycle management
          and automated workflows to your private cloud.

          *[chargeback]: Record and analyze virtual machine utilization
          *[service orchestration]: Automate virtual machine workflows toward an overal direction
          *[lifecycle management]: Oversee a workload from start to finish, and everything in-between
          *[automated workflows]: ManageIQ can decide when and how to work with workloads, based on your own custom rules

    %section.intro.col-md-3
      %p
        <div style="width:250px; text-align:right; align:left" ><iframe  src="https://www.eventbrite.com/countdown-widget?eid=12690602935" frameborder="0" height="285" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe></div>


%section.blog-area
  .row

    - blog_archives = blog.articles.length - current_page.data.per_page
    - blogwidth = blog_archives > 0 ? 8 : 12

    %h2 ManageIQ Community News

    %section{class: "col-md-#{blogwidth}"}
      %section.blog-posts
        = partial :blog_posts, locals: {summarize: current_page.data.blog_summary_length}


    - if blog_archives > 0
      %section.col-md-4
        %section.blog-archive

          %h2 Recent archives
          %ol
            - blog.articles.drop(current_page.data.per_page).take(10).each do |article|
              %li= link_to article.title, article.url


%section.get-started
  .row

    %section.col-md-12
      :markdown
        ## Get started now

    %section.col-md-5
      :markdown
        If you're interested in more control of your virtual
        machines and cloud landscape — good news! ManageIQ is quick and
        easy to get up and running.

        We provide a self-contained appliance you can quickly spin up on
        your own infrastructure.


    %section.col-md-7.choices
      %ul
        - data.deploy_types.each do |dlabel, dname|
          %li= link_to dname, "/download/#{dlabel}/", class: "download-choice"


%section.communication
  .row

    %section.talk-back.col-md-6
      :markdown
        ### Let’s talk
        We love to hear how people are using our software. Jump in and
        talk to the developers, share tips and tricks, talk about how
        you’re using ManageIQ, and read all about other people's experiences.

        [>> **Talk** in the forum with people using and developing ManageIQ](http://talk.manageiq.org).


    %section.ask-questions.col-md-6
      :markdown
        ### Solve issues
        The ManageIQ community provides help on our Q&A knowledge base.
        It’s a great place to go to look for solutions to your ManageIQ
        problems---if your question hasn’t been asked before, someone
        here will likely know the answer.

        [>> **Ask** a question or look for an answer on the forum](http://talk.manageiq.org/category/support).


%section.partners-area

  :ruby

    # Partner names must match SVG files
    # (Values are approximate pixel size and URL)
    partners = {
      Red_Hat:             [140, "http://redhat.com/"],
      Autotrader_Group:    [233, "http://www.coxautoinc.com/"],
      BBVA:                [ 78, "http://bbva.com/"],
      Booz_Allen_Hamilton: [260, "http://boozallen.com/"],
      CHEF:                [120, "http://getchef.com/"],
      CiRBA:               [120, "http://cirba.com/"],
      Cloudsoft:           [130, "http://cloudsoftcorp.com/"],
      Gandi:               [132, "http://gandi.net/"],
      ICE_Systems:         [ 75, "http://www.icesystems.com.au/"],
      VMTurbo:             [110, "http://vmturbo.com/"],
    }

  .row

    %section.col-md-12

      %h2 Founding Community Partners

      %ul.partners
        - partners.each do |partner, val|
          %li
            %a.partner{href:val[1], class:partner}
              %img{src:"/images/partners/#{partner}.svg", width:val[0], alt:partner.to_s.gsub(/_/, ' ')}
