---
pageable: false
page_classes: front-page header-page
per_page: 1
blog_summary_length: 700
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")

%section.page-header
  .row
    %section.col-md-12

      %h2 Your gateway to the open cloud
      %h3 automate, optimize, and control your cloud services


%section.overview
  .row

    %section.col-md-5

      :markdown
        ## Control your cloud

        Drive your complete virtual infrastructure with ManageIQ. Manage
        the lifecycle of your applications, place virtual workloads
        according to your business priorities, and &mdash; automatically
        through policies you set &mdash; balance your costs,
        performance, security, and reliability across cloud platforms.

        ManageIQ lets you control everything, completely, from one end
        of a virtual machine lifecycle to the other.


    %section.features.col-md-7

      .feature-item.col-lg-6.col-sm-6
        .icon.glyphicon.glyphicon-eye-open
        :markdown

          ## Open Source
          ManageIQ is the open source project that powers
          [Red Hat® CloudForms](https://redhat.com/products/cloud-computing/cloudforms/).

      .feature-item.col-lg-6.col-sm-6
        /.icon.glyphicon.glyphicon-eye-close
        .icon.glyphicon.glyphicon-adjust
        :markdown

          ## Hybrid infrastructure
          Transition workloads across major cloud platforms
          based on price, performance, platform, and scaling.

      .feature-item.col-lg-6.col-sm-6
        .icon.glyphicon.glyphicon-cloud
        :markdown

          ## Virtual Lab Automation
          Shift control of development, QA, and testing environments back
          to their respective teams.

      .feature-item.col-lg-6.col-sm-6
        .icon.glyphicon.glyphicon-fire
        :markdown

          ## Enhance your private cloud

          Add chargeback, service orchestration, lifecycle management
          and automated workflows to your private cloud


%section.get-started
  .row

    %section.col-md-12
      :markdown
        ## Get started now

    %section.col-md-5
      :markdown
        If you're interested in more control of your virtual
        machines and cloud landscape — good news! ManageIQ is quick and
        easy to get up and running.

        We provide a self-contained appliance you can quickly spin up on
        your own infrastructure.


    %section.col-md-7.choices
      %ul
        - data.deploy_types.each do |dlabel, dname|
          - dtext = "<i class='download-arrow'></i>#{dname}"
          %li= link_to dtext, "/download/#{dlabel}/"


%section.communication
  .row

    %section.talk-back.col-md-6
      :markdown
        ### Want to talk?
        Talk with ManageIQ developers and users in
        [our forum](http://talk.manageiq.org).

        We love to hear how people are using our software. Jump in and talk
        to the developers, help other users of ManageIQ, or get help yourself
        if you are getting started.

    %section.ask-questions.col-md-6
      :markdown
        ### Having issues?
        Ask a question in [our Q&A forum](http://ask.manageiq.org).

        The awesome ManageIQ community provides help on our Q&A forum and
        knowledge base. It's a great place to go to look for solutions to your
        ManageIQ problems - if your question hasn't been asked before, someone
        here will have the answer.

%section.blog-area
  .row

    - blog_archives = blog.articles.length - current_page.data.per_page
    - blogwidth = blog_archives > 0 ? 8 : 12

    %h2 ManageIQ Community News

    %section{class: "col-md-#{blogwidth}"}
      %section.blog-posts
        = partial :blog_posts, locals: {summarize: current_page.data.blog_summary_length}


    - if blog_archives > 0
      %section.col-md-4
        %section.blog-archive

          %h2 Recent archives
          %ol
            - blog.articles.drop(current_page.data.per_page).take(10).each do |article|
              %li= link_to article.title, article.url


%section.partners-area

  :ruby

    # Partner names must match SVG files
    partners = {
      Red_Hat:             [190, "http://redhat.com/"],
      Autotrader_Group:    [310, "http://www.autotradergroup.com/"],
      Booz_Allen_Hamilton: [300, "http://boozallen.com/"],
      CHEF:                [160, "http://getchef.com/"],
      CiRBA:               [160, "http://cirba.com/"],
    }

  .row

    %section.col-md-10.col-md-offset-1

      %h2 Founding Community Partners

      %ul.partners
        - partners.each do |partner, val|
          %li
            %a.partner{href:val[1], class:partner}
              %img{src:"/images/partners/#{partner}.svg", width:val[0], alt:partner}
