---
pageable: false
page_classes: front-page header-page
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")

%section.page-header
  .row
    %section.col-md-12

      %h2 Your gateway to the open cloud
      %h3 automate, optimize, and control your cloud services


%section.overview
  .row

    %section.col-md-5

      :markdown
        ## All clouds are your clouds

        Most workloads are scattered between RHEV, oVirt, vSphere,
        Amazon EC2, and/or OpenStack.

        Juggle everything between providers according to your
        preferences — closer, cheaper, more performant, better
        scalability, or increased privacy — and do this automatically
        through policies you set.

        ManageIQ lets you control everything, completely, from one end
        of a virtual machine lifecycle to the other, in your browser.



      -#:markdown
        ## Configured to your needs

        Automate and deeply customise the lifecycle of your VMs;
        establish policies and rules related to:

        * Self-service provisioning
        * Workflow processes
        * Capacity and Usage
        * Quota enforcement


    %section.features.col-md-7

      .feature-item.col-lg-6.col-sm-6
        .icon.glyphicon.glyphicon-eye-open
        :markdown

          ## Open Source
          ManageIQ is
          [the GPL + Apache licensed](#FIXME-licensing-link),
          project that powers
          [Red Hat® CloudForms](https://redhat.com/products/cloud-computing/cloudforms/).

      .feature-item.col-lg-6.col-sm-6
        /.icon.glyphicon.glyphicon-eye-close
        .icon.glyphicon.glyphicon-adjust
        :markdown

          ## Mix & match
          Use your preferred mix of OpenStack, Amazon, and existing
          virtual infrastructure.

      .feature-item.col-lg-6.col-sm-6
        .icon.glyphicon.glyphicon-cloud
        :markdown

          ## Cloud-friendly
          Amazon Web Services and Windows Azure are supported. Or roll
          your own with OpenStack, vSphere, or others.

      .feature-item.col-lg-6.col-sm-6
        .icon.glyphicon.glyphicon-fire
        :markdown

          ## Manage it all
          Easily manage your entire virtual infrastructure.
          Use self-service provisioning and chargeback.

      -#.feature-item.col-lg-6.col-sm-6
        .icon.glyphicon.glyphicon-star
        :markdown

          ## A vibrant community
          Aroma crema cappuccino, iced sit a percolator. Filter café au
          lait extraction americano.

          French press, coffee cream flavour café au lait mocha.
          Aeropress, in acerbic robust so fair trade.

%section.get-started
  .row

    %section.col-md-12
      :markdown
        ## Get started now

    %section.col-md-5
      :markdown
        If you're interested in more effectively managing your virtual
        machines and cloud landscape — good news! ManageIQ is quick and
        easy to get up and running.

        We provide a self-contained appliance you can quickly spin up on
        your own infrastructure.


    %section.col-md-7.choices
      %ul
        - data.deploy_types.each do |dlabel, dname|
          - dtext = "<i class='download-arrow'></i>#{dname}"
          %li= link_to dtext, "/download/#{dlabel}/"


%section.communication
  .row

    %section.talk-back.col-md-6
      :markdown
        ### Feeling chatty?
        Talk with the developers in our forum.
      =lorem.sentences 4

    %section.ask-questions.col-md-6
      :markdown
        ### Having issues?
        Ask a question in our Q&A forum.
      =lorem.sentences 4

%section.blog-area
  .row

    %section.col-md-8

      %section.blog-posts

        %h2 From the blog…
        = partial :blog_posts, locals: locals


    %section.col-md-4
      %section.blog-archive
        %h2 Recent posts
        %ol
          %li Lorem ipsum dolor sit amet
          %li Consectetur adipiscing elit
          %li Eget porttitor lorem


%section.next-steps
  .row

    -#%section.col-md-4
      :markdown
        ## Get configured
        When ManageIQ is up and running, be sure to read:

        * [effectively managing your VMs](#FIXME-link)
        * [what other people are doing](#FIXME-link)
        * [useful add-ons](#FIXME-link)

    %section.col-md-4
      :markdown
        ## Join the community
        Talk with the developers or others in the community:

        * [ManageIQ on StackOverflow](#FIXME-link)
        * [@manageiq](http://twitter.com/manageiq) on Twitter
        * [Mailing lists](#FIXME-link-to-lists)
        * [IRC](#FIXME-link-to-doc-on-irc) (#manageiq on irc.Freenode.net)

    %section.col-md-4
      %h2= lorem.words(3).capitalize
      %p= lorem.sentences(1) + '.'
      %p= lorem.sentences(2) + '.'

    %section.col-md-4
      :markdown
        ## Get supported
        All the code produced in the ManageIQ project gets funneled into
        [Red Hat® CloudForms](https://redhat.com/products/cloud-computing/cloudforms/).
        If you're looking to [pay for support](#FIXME-paid-support-link), be sure to check it out.

%section.social-area
  :ruby
    social = {
      twitter: "http://twitter.com/ManageIQ",
      facebook: "foo",
      "google-plus" => "foo"
    }

  .row

    %section.col-md-12
      - social.each do |service, url|
        %a{href:url}
          %i{class:"fa fa-#{service}"}
          = "#{service}".titlecase